html,
body {
    width: 100%;
    height: 100%;
    /* box-sizing: border-box; */
}

* {
    box-sizing: inherit;
}


.bigger {
    transition: all .2s ease-in-out;
}

.bigger:hover {
    transform: scale(1.1);
    background-color: lightgrey;
}




@media screen and (max-width: 900px) {
    #search-section {
      height: auto;
      margin-top: 2px;
    }
  }

  @media screen and (max-width: 800px) {
    #search-bar {
      margin:0;
    }
  }

  @media screen and (max-width: 900px) {
    main {
      clear:left;
    }
  }